# Secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
bot_logs.txt

# Music Cache & Data
music_cache/
cache_map.json
playlists.json
server_settings.json

# Backups
*.bk

# Environment
.venv/
env/
venv/
ENV/

# Temporary/Working files
bot_working_play_and_search.py
musicbot.tar.gz
